#editor {
    height: 500px;
}

#picture-placeholder {
    height:100px;
    width:100%;
    background-color: lightblue;
    border: 1px blue dotted;
    text-align: center;
}

#news-form-container {
    padding-top: 1rem;
}