{% extends "about_layout.html" %}

{% block more_head %}
    <!--Additional head-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_us.css') }}">
<title>LSSh | About us</title>
{% endblock more_head %}

{% block about_content %}
    <!--Where the html should be written-->
   

    <div id="container-about" class="container-fluid">

        <div class="row pb-5 pt-5">
            <div class="col-8 offset-2">
                <h3 class="pb-4">THE IDEA</h3>
                <p>A problem was identified: a time-gap between students selling furniture and new students needing to buy furniture, 
                    this gap leads to furniture in good condition being thrown away. We try to bridge this gap by providing storage for the furniture, 
                    thereby making it possible for students to sell their furniture after they have moved away when new student have arrived.</p>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-4 offset-2">
                <h3 class="pb-4">OUR AMBITION</h3>
                <p>We want to increase reuse amongst students in order reduce consumption of earth’s resources. Therefore, 
                    LiU Student Secondhands main purpose is to make it easy for students at LiU to consume furniture and stuff for their home in a circular way. </p>
            </div>
            <div class="col-4">
                <img class="img-fluid rounded" src="{{ url_for('static', filename = '/pictures/forest.png') }}" alt="Furniture">
            </div>
        
            
        </div>

        

        <div class="row pb-5 pt-5 mb-5">
            
            <div class="col-4 offset-2">
                <img class="img-fluid rounded" src="{{ url_for('static', filename = '/pictures/Project group frame.png') }}" alt="Furniture">
            </div>
            <div class="col-4">
                <h3 class="pb-4">HOW IT STARTED</h3>
                <p> In 2019 a project group was put together to start up a Secondhand as a part of the sustainability association Navitas. 
                    The university could provide a location there by making a non-profit secondhand store possible. After many months of working, 
                    LiU Student Secondhand was launched and opened to students in December 2019. </p>
            </div>
           
            <div class="col-2"></div>
            
        </div>
    </div>

{% endblock about_content %}
