{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->
    <div id="about-us-container" class="container-fluid">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-1 text-center d-none d-md-block">
                <div class="arrow-down"></div>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row mt-4 pb-4 pt-2">
            <div class="col-md-10"></div>
            <div class="col-md-1 col-sm-6 text-center">
                <a class="a-link-white" href="{{ url_for('main.about_us') }}">About us</a>
            </div>
            <div class="col-md-1 col-sm-6 text-center">
                <a class="a-link-white" href="{{ url_for('main.find_us') }}">Find us</a>
            </div>
        </div>
    </div>
    {% block about_content %}
    {% endblock about_content %}
{% endblock content %}
