{% extends "about_layout.html" %}

{% block more_head %}
    <!--Additional head-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_us.css') }}">
{% endblock more_head %}

{% block about_content %}
    <!--Where the html should be written-->
   

    <div id="container-fill" class="container-fluid">
        <div class="row">
            <div class="col">
                <p> fill out</p>
            </div>
        </div>
    </div>

{% endblock about_content %}
