{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_layout.css') }}">
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->



<!-- 
This is used to create the subnavigation bar under the main navigationbar
-->
    
<div id="subnav-container" class="container-fluid pt-4 pb-4">
    <div class="row">
        <div class="col text-right">
            <a id="about-us-link" href="{{ url_for('main.about_us') }}" class="a-link-white d-inline pr-4">About us</a>
            <a id="find-link" href="{{ url_for('main.find_us') }}" class="a-link-white d-inline pr-4">Find us</a>
        </div>
    </div>
</div>




    {% block about_content %}
    {% endblock about_content %}

{% endblock content %}
