{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_login.css') }}">
    <title>LSSh | Administration & Worker login</title>
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->
    <div id="login-container" class="container-fluid">
        <div class="row h-100 align-items-center">
          <div id="login-img" class="col-6 h-100">
            
          </div>
          <div id="form-col" class="col-6 text-center">

            <h3>Welcome back,</h3>
            <p class="pb-3">Sign in to continue</p>

            <form>
                <div class="form-group pb-2">
                  <input type="text" class="form-control" id="input-contact" placeholder="Username...">
                </div>

                <div class="form-group pb-2">
                    <input type="password" class="form-control" id="input-contact" placeholder="Password...">
                </div>

                <button class="green-btn float-right mt-4" type="submit">SIGN IN</button>
              </form>
          </div>
        </div>
    </div>

{% endblock content %}