{% extends "help_layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <title>LSSh | Contact us!</title>
{% endblock more_head %}

{% block help_content %}
    <!--Where the html should be written-->
    <div id="container-fill" class="container-fluid grey-bg pb-5">



        <div class="row pt-5 align-items-center h-100">
            
            <div class="col-lg-5 offset-lg-1 col-12 pb-lg-0 pb-3">
              
              
               <img id="image-header"
               src="{{ url_for('static', filename = '/pictures/pexels-cottonbro-4065906.jpg') }}"
               class="img-fluid image" alt="Responsive image">

            </div>
            <div id="contact-col" class="col-12 col-lg-5">
               
                <p class="mb-2"><b>HELP</b></p>
                <h3 id="faq-heading" class="pb-3">Contact</h3>

                <form onsubmit='contactForm();return false'>
                    <div class="form-group pb-2">
                      <input type="text" class="form-control input-contact" id="input-contact-name" placeholder="Write name here..." required>
                    </div>

                    <div class="form-group pb-2">
                        <input type="email" class="form-control input-contact" id="input-contact-email" placeholder="Write email here..." required>
                    </div>
                    
                    
                    <div class="form-group pb-2">
                      <textarea class="form-control input-contact" id="input-contact-message" placeholder="What is on your mind?" rows="9"></textarea required>
                    </div>

                    <div class="text-center">
                        <button id="submit-button" class="green-btn float-md-right" type="submit">SUBMIT</button>
                    </div>
                    
                  </form>
                
            </div>

            <div id="contact-success" class="col-12 col-lg-5">

            </div>
            
        </div>

    

        
        <div class="row pt-4">
            <div class="col-10 offset-1 pt-4 text-center">
                <hr>
                <p class="pt-3"> Or send us an email</p>
                <h3>lssh@navitas.se</h3>
            </div>
        </div>


       
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock help_content %}
