{% extends "help_layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <title>LSSh | Contact us!</title>
{% endblock more_head %}

{% block help_content %}
    <!--Where the html should be written-->
    <div id="container-fill" class="container-fluid pt-3">



        <div class="row pt-5">
            
            <div class="col-lg-4 offset-lg-2 col-12 pb-lg-0 pb-3">
               <img id="contact-img-phone" class="img-fluid" src="{{ url_for('static', filename = '/pictures/pexels-cottonbro-4065906.jpg') }}" alt="Furniture">
              
            </div>
            <div class="col-12 col-lg-4">
                <h1 class="shift-text pb-3 ">Send us a message!</h1>

                <form onsubmit='contactForm()'>
                    <div class="form-group pb-2">
                      <input type="text" class="form-control input-contact" id="input-contact-name" placeholder="Write name here..." required>
                    </div>

                    <div class="form-group pb-2">
                        <input type="email" class="form-control input-contact" id="input-contact-email" placeholder="Write email here..." required>
                    </div>
                    
                    
                    <div class="form-group pb-2">
                      <textarea class="form-control input-contact" id="input-contact-message" placeholder="What is on your mind?" rows="9"></textarea required>
                    </div>

                    <button class="green-btn float-right" type="submit">SUBMIT</button>
                  </form>

            </div>
            
        </div>

        <div class="row pt-4">
            <div class="col-8 offset-2 pt-4 pb-5 text-center">
                <hr>
                <p class="pt-3"> Or send us an email</p>
                <h3>lssh@navitas.se</h3>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock help_content %}
