{% extends "help_layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
{% endblock more_head %}

{% block help_content %}

    <div id="container-fill" class="container-fluid">

        <div class="row pt-4">
            <div class="col-2"></div>

            <div class="col-2">
                <a class="a-link a-active" href="">General information</a>
            </div>
            <div class="col-2">
                <a class="a-link" href="">Opening hours</a>
            </div>
            <div class="col-2">
                <a class="a-link" href="">Price & Payment</a>
            </div>
            <div class="col-2">
                <a class="a-link" href="">Transportation</a>
            </div>
            
            <div class="col-2"></div>
        </div>


        <div class="row">
            <div class="col-2"></div>

            
            <div id="accordion-col" class="col pt-5">
                
                

            </div>
            <div class="col-2"></div>
               
        </div>
    </div>
{% endblock help_content %}
