{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hand_in.css') }}">

    <title>LSSh | Hand in items to sell or donate!</title>
{% endblock more_head %}

{% block content %}
      <!--Where the html should be written-->
      <div id="about-us-container" class="container-fluid">
        <div class="row">
            <div class="col-1 offset-7 text-center">
                <div class="arrow-down d-sm-block d-none"></div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <div id="about-us-container3" class="container-fluid">
        <div class="row pt-5">

           
            <div class="col-xl-3 col-8 offset-2 pb-3">
                <h4>MAKE A</h4>
                <h2>Hand in request</h2>
                <br>
                <h5 class="text-white">Do you have something you want to sell or donate?</h5>
                <h6>Give your furniture a new home by handing them in to LiU Student Secondhand! You can either sell or donate furniture.</h6>
                <br>
                <br><br><br>
                <form action="{{ url_for('main.hand_in_request') }}">
                    <button class="white-btn w-75" type="submit">HAND IN NOW</button>
                </form>
                
            </div>

            <div class="col-1 h-100"></div>
            <div id="img-hand-in" class="col-sm-4 col-12"></div>
            
        </div>
    </div>

    <div id="about-us-container2" class="container-fluid" >
        <div class="row pb-5">
            <div class="col-8 offset-2 col-sm-8 mt-5 pt-5">
                <h3>HOW IT WORKS</h3>
                <br>
                <p>Send us a hand in request by filling out the form with the information we need, You will later recieve a reply by email on
                     whether we can accept your items, or we might have some additional questions about the items. 
                     We then decide on a time for hand in when you can bring it to the shop and will add it to our 
                     inventory, ready to be bought by other students! If the item is not sold we will reduce the price 
                     as described further down.
                </p>
                
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row pb-5">
            <div class="col-8 offset-2 col-sm-8">
                <h3>PRICE REDUCTION</h3>
                <br>
                <p>Because of limited space in our shop and to not have items staying for too long, we have a price reducing policy
                    illustrated below. Note that the price will be lowered after a few months if the item has not been sold, to make sure that it does not get stuck in our store. 
                    After 2 months, summer and Christmas holidays excluded, the price will be reduced to 50% of the original price. 
                    After 1 more month, the price will be reduced to 25%, and after a total of 4 months the item will be offered for free.</p>
                <br>

                <div class="row">
                    <div class="col-md-8 col-12 offset-md-2">
                        <img src="{{ url_for('static', filename = '/pictures/pricereducing.png') }}" class="img-fluid image" alt="Responsive image">
                    </div>
                </div>

            </div>
            
        </div>

        <div class="row pb-5">
            <div class="col-8 offset-2">
                <h3>SELLING OR DONATING</h3>
                <br>
                <p>When handing in an item, you have the choice of either selling or donating your item(s) to LiU Student Secondhand. If you choose to donate your item to us, we will sell it and use the profit for our expenditures. If you choose to sell your item, you will be paid directly by the buyer through either Swish or Revolut. LiU Student Secondhand does not charge anything for selling your item, therefore the price that the buyer pays is the same as the seller receives. 
                    <b>Note that</b> it is only current students or soon-to-be students at Linköping University that can show us a valid student identification or proof of acceptance that can sell items through us. However, if you are a not a student at Linköping University you are still able to donate items to us.</p>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-8 offset-2">
                <p><b>Things to think about before sending a request:</b></p>
                    <ol>
                        <li>- Is the item something we generally accept? We only accept furniture and things for the home. Some of the things we do not accept are textiles, books, mattresses and bicycles.</li>
                        <li>- Is the condition acceptable? Would another student want it?</li>
                        <li>- If you want to sell it, you will have to have either Swish or Revolut in order to get paid. </li>
                        <li>- Make sure to set a reasonable price considering the type of item and condition. Since we like it when items find a new home, we encourage you to not set the price too high.</li>
                    </ol>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-8 offset-2 text-center">
                <h3>Sounds good?</h3>
                <form action="{{ url_for('main.hand_in_request') }}">
                    <button class="green-btn" type="submit">MAKE A HAND IN NOW!</button>
                </form>
            </div>
        </div>

    </div>
{% endblock content %}