{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hand_in_request_layout.css') }}">
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->

    <div class="container-fluid pt-3 pb-3 bg-grey">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p>Hand in > Hand in request</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


    <div id="hand-in-req-container" class="container-fluid bg-grey">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <img class="img-fluid" src="{{ url_for('static', filename = '/pictures/pexels-pixabay-279618.jpg') }}" alt="Furniture">
            </div>
            <div class="col-5"></div>
            <div class="col-2"></div>
        </div>
    </div>


    {% block hand_in_request_content %}
    {% endblock hand_in_request_content %}

{% endblock content %}