{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/help_layout.css') }}">
{% endblock more_head %}

{% block content %}
    <!--Where the html for the help_layout should be written-->
 
        <!--Where the html should be written-->

      
        <div id="about-us-container" class="container-fluid">
            <div class="row pb-4">
                <div class="col-11"></div>
                <div class="col-1 text-center">
                    <div class="arrow-down"></div>
                </div>
            </div>
    
            <!-- OLD SUBNAV
            <div class="row mt-4 pb-4 pt-2">
                <div class="col-10"></div>
                <div class="col-1 text-center">
                    <a class="a-link-white" href="{{ url_for('main.contact') }}">Contact</a>
                </div>
                <div class="col-1 text-center">
                    <a class="a-link-white" href="{{ url_for('main.faq') }}">FAQ</a>
                </div>
            </div>-->

            <div id="heading-help" class="row pt-5 pb-5">
                <div class="col-2"></div>
                <div class="col-12 col-md-3 text-md-left text-center">
                    <h4 >QUESTIONS?</h4>
                    <h2 class="pb-5">We're here to help</h2>

                    <a id="faq-btn" href="{{ url_for('main.faq') }}" class="row a-link-white transparent-toggle align-items-center text-center ml-1 pt-2 pb-2 mb-3">
                        <div class="col">FAQ</div>
                    </a>

                    <a id="contact-btn" href="{{ url_for('main.contact') }}" class="row a-link-white transparent-toggle align-items-center text-center ml-1 pt-2 pb-2 mb-3">
                        <div class="col">Contact us</div>
                    </a>

                    <a id="find-btn" href="{{ url_for('main.find_us') }}" class="row a-link-white transparent-toggle align-items-center text-center ml-1 pt-2 pb-2 mb-5 ">
                        <div class="col">Find us</div>
                    </a>
                   
                   
                </div>

                <div class="col-1"></div>

                <div class="col-4 d-none d-md-block">
                    <img id="contact-img" class="img-fluid" src="{{ url_for('static', filename = '/pictures/Project group frame.png') }}" alt="Furniture">
                </div>
                <div class="col-2"></div>
            </div>


            <!-- Icons subnav

            <div class="row pb-5">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row text-center">

                        <a id="faq-button" href="{{ url_for('main.faq') }}" class="col-4 border-help">
                            <div class="row text-center height-help align-items-center">
                                <div class="col-12">
                                    <i style="font-size:40px" class="fa text-white">&#xf128;</i>
                                    <p class="text-white pt-3">FAQ</p>
                                </div>
                            </div>
                        </a>

                        <a id="contact-button" href="{{ url_for('main.contact') }}" class="col-4 border-help">
                            <div class="row text-center height-help align-items-center">
                                <div class="col-12">
                                    <i style="font-size:40px" class="material-icons text-white">&#xe158;</i>
                                    <p class="text-white pt-3">Contact us</p>
                                </div>
                            </div>
                        </a>

                        <a id="find-button" href="{{ url_for('main.find_us') }}" class="col-4 border-help">
                            <div class="row text-center height-help align-items-center">
                                <div class="col-12">
                                    <i style="font-size:40px" class="material-icons text-white">&#xe55e;</i>
                                    <p class="text-white pt-3">Find us</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="col-2"></div>
            </div>-->

        </div>

    


      


    {% block help_content %}

    {% endblock help_content %}
{% endblock content %}
