{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/help_layout.css') }}">
    
{% endblock more_head %}

{% block content %}
    <!--Where the html for the help_layout should be written-->
 
        <!--Where the html should be written-->

        <div id="subnav-container" class="container-fluid pt-4 pb-4">
            <div class="row">
                <div class="col text-right">
                    <a id="faq-link" href="{{ url_for('main.faq') }}" class="a-link-white d-inline pr-4">FAQ</a>
                    <a id="contact-link" href="{{ url_for('main.contact') }}" class="a-link-white d-inline pr-4">Contact</a>
                </div>
            </div>
        </div>




      


    {% block help_content %}

    {% endblock help_content %}
{% endblock content %}
