<!-- Should contain navbar and other general features. The other views should extend this. -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Following comes a reset.css file that reduces browser inconsistencies. Read more at: https://meyerweb.com/eric/tools/css/reset/ -->
    <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">


    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <title>LiU Student Secondhand | LSSh</title>

    <!-- Roboto font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- Font awesome icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google materials icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block more_head %}
    <!-- Filled with more parts of the head required on other views-->
    {% endblock %}
</head>

<body>
    <header>

            <div id="navbar" class="container-fluid navbar-desktop-active fixed-top">
                <div class="row align-items-center h-100">

                    <div class="col-md-1 text-center">
                        <a class="navbar-brand" href="{{ url_for('main.startup') }}">
                            <img src="{{ url_for('static', filename = '/pictures/Logga_klart_svarta_linjer (1).png') }}" id="logotype" alt="Logotype">
                        </a>
                    </div> 

                    <div class="col-md-6 text-center"> </div>
                 
                  
                    <div class="col-md-1 col-2 text-center">
                        <a class="a-link" href="{{ url_for('main.hand_in') }}">HAND IN</a>
                       
                    </div>

                    <div class="col-md-1 col-2 text-center">
                        <a class="a-link" href="{{ url_for('products.catalog') }}">SHOP</a>
                    </div>

                    <div class="col-md-1 col-2 text-center">
                        <a class="a-link" href="">NEWS</a>
                    </div>

                    <div class="col-md-1 col-2 text-center">
                        <a id="about-link" class="a-link" href="{{ url_for('main.about_us') }}">ABOUT</a>
                    </div>

                    <div id="help-link-col" class="col-md-1 col-2 text-center">
                        <a id="help-link" class="a-link" href="{{ url_for('main.faq') }}">HELP</a>
                    </div>
                 
                </div>

            </div>

            <div id="about-us-container" class="container-fluid subnav-content fixed-top">
                <div class="row">
                    <div class="col-11"></div>
                    <div class="col-1 text-center">
                        <div class="arrow-down-sub"></div>
                    </div>
                </div>
            
                <div class="row mt-4 pb-4 pt-2">
                    <div class="col-10"></div>
                    <div class="col-1 text-center">
                        <a class="a-link-white" href="{{ url_for('main.contact') }}">Contact</a>
                    </div>
                    <div class="col-1 text-center">
                        <a class="a-link-white" href="">FAQ</a>
                    </div>
                </div>
            </div> 


        <!--

        <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top d-md-none">
            <div class="container-fluid">

                <a class="navbar-brand" href="{{ url_for('main.startup') }}">
                    <img src="{{ url_for('static', filename = '/pictures/Logga_klart_svarta_linjer (1).png') }}"
                        id="logotype" alt="Logotype">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item layout-mobile-center pr-3">
                            <a class="nav-link" href="{{ url_for('main.startup') }}">HOME</a>
                        </li>
                        <li class="nav-item layout-mobile-center pr-3">
                            <a class="nav-link" href="{{ url_for('products.catalog') }}">SHOP</a>
                        </li>

                        <li class="nav-item layout-mobile-center pr-3">
                            <a id="about-link" class="nav-link" href="{{ url_for('main.about_us') }}">ABOUT</a>
                        </li>
                        <li class="nav-item layout-mobile-center pr-3">
                            <a id="help-link" class="nav-link" href="{{ url_for('main.faq') }}">HELP</a>
                        </li>

                    </ul>

                </div>
        </nav>-->





    </header>
    {% block content %}
    <!--This is what is filled by the other templates when extending-->

    


    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container-fluid">
            <div class="row pt-5 pb-3">
                <div class="col-md-2 col-sm-12 "></div>
                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4>ABOUT</h4>
                    <a class="a-link" href="{{ url_for('main.about_us') }}"> About us </a>
                    <br>
                    <a class="a-link" href="{{ url_for('main.find_us') }}"> Find us </a>
                </div>
                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4>INFORMATION</h4>
                    <a class="a-link" href=""> Cookies </a>
                    <br>
                    <a class="a-link" href=""> Privacy </a>
                    <br>
                    <a class="a-link" href=""> Policy </a>
                </div>
                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4>HELP</h4>
                    <a class="a-link" href="">FAQ </a>
                    <br>
                    <a class="a-link" href=""> Contact </a>

                </div>
                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4>ADMIN & WORKER</h4>
                    <a class="a-link" href=""> Login</a>
                </div>
                <div class="col-md-2 col-sm-12"></div>
            </div>

            <div class="row justify-content-center align-items-center pt-3">
                <div class="col text-center">
                    <img id="logotype-footer"
                        src="{{ url_for('static', filename = '/pictures/Logga_klart_vita_linjer.png') }}"
                        class="img-fluid image" alt="Responsive image">
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright: LiU Student Secondhand

        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


</body>

<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>

</html>