<!-- Should contain navbar and other general features. The other views should extend this. -->
<!DOCTYPE html>
<html>

<head>

    <!--Favicon-->
    <link rel="icon" href="{{ url_for('static', filename = '/pictures/favicon.ico') }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Following comes a reset.css file that reduces browser inconsistencies. Read more at: https://meyerweb.com/eric/tools/css/reset/ -->
    <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <!-- Layout CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">


    <!-- Roboto font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- Font awesome icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google materials icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block more_head %}
    <!-- Filled with more parts of the head required on other views-->
    {% endblock more_head %}
</head>

<body>
    <header>

      

        <div id="navbar" class="container-fluid navbar-desktop-active bg-transparent position-absolute">
            <div class="row bg-transparent align-items-center h-100">

                <div class="col-md-1 bg-transparent offset-1">
                    <a class="navbar-brand" href="{{ url_for('main.startup') }}">
                        <img src="{{ url_for('static', filename = '/pictures/Logga_klart_svarta_linjer (1).png') }}"
                            id="logotype" alt="Logotype">
                    </a>
                </div>

                    <div class="col-md-1 col-2 offset-md-2 text-center">
                        <a class="a-link" href="{{ url_for('main.startup') }}">HOME</a>
                    </div> 

            
                    <div class="col-md-1 col-2 text-center">
                        <a class="a-link" href="{{ url_for('main.news') }}">NEWS</a>
                    </div> 

                <div class="col-md-1 col-2  text-center">
                    <a class="a-link" href="{{ url_for('products.catalog') }}">SHOP</a>
                </div>

                <div class="col-md-1 col-2 text-center">
                    <a class="a-link" href="{{ url_for('main.hand_in') }}">HAND IN</a>
                </div>

                <div class="col-md-1 col-2 text-center">
                    <a class="a-link" href="{{ url_for('main.transport') }}">TRANSPORT</a>
                </div>

                <div class="col-md-1 col-2 text-center">
                    <a id="about-link" class="a-link" href="{{ url_for('main.about_us') }}">ABOUT</a>
                </div>

                <div id="help-link-col" class="col-md-1 col-2 text-center">
                    <a id="help-link" class="a-link" href="{{ url_for('main.faq', x=1) }}">HELP</a>
                </div>

            </div>
        </div>

        <div class="height-before-nav">
            <br>
        </div>


        <nav id="navbar-mobile" class="navbar navbar-expand-lg navbar-light fixed-top d-lg-none">
            <div class="container-fluid">

                <a class="navbar-brand" href="{{ url_for('main.startup') }}">
                    <img src="{{ url_for('static', filename = '/pictures/Logga_klart_svarta_linjer (1).png') }}"
                        id="logotype" alt="Logotype">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item layout-mobile-center pr-3">
                            <a class="nav-link" href="{{ url_for('main.startup') }}">HOME</a>
                        </li>
                        <li class="nav-item layout-mobile-center pr-3">
                            <a class="nav-link" href="{{ url_for('products.catalog') }}">SHOP</a>
                        </li>

                        <li class="nav-item layout-mobile-center pr-3">
                            <a id="about-link" class="nav-link" href="{{ url_for('main.about_us') }}">ABOUT</a>
                        </li>
                        <li class="nav-item layout-mobile-center pr-3">
                            <a id="help-link" class="nav-link" href="">HELP</a>
                        </li>

                    </ul>

                </div>
        </nav>


    </header>
    {% block content %}
    <!--This is what is filled by the other templates when extending-->




    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container-fluid">
            <div class="row pt-5 pb-3">
                <div class="col-md-2 col-sm-12 "></div>


                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4 class="footer-heading">HELP</h4>
                    <a class="a-link" href="{{ url_for('main.faq', x=1) }}">FAQ </a>
                    <br>
                    <a class="a-link" href="{{ url_for('main.contact') }}"> Contact </a>
                </div>

                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4 class="footer-heading">ABOUT</h4>
                    <a class="a-link" href="{{ url_for('main.about_us') }}">About us</a>
                    <br>
                    <a class="a-link" href="{{ url_for('main.find_us') }}"> Find us </a>
                </div>

                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4 class="footer-heading">ADMIN & WORKER</h4>
                    <a class="a-link" href="{{ url_for('main.admin_login') }}"> Login</a>
                </div>

                <div class="col-md-2 col-sm-12 text-md-left text-center pb-3">
                    <h4 class="footer-heading">OPENING HOURS</h4>
                    <p class="footer-copyright">Wed: 12:15-13:00</p>
                    <p class="footer-copyright">Sun: 12:15-13:00</p>

                </div>



            </div>

            <div class="row justify-content-center align-items-center pt-3">
                <div class="col text-center">
                    <img id="logotype-footer"
                        src="{{ url_for('static', filename = '/pictures/Logga_klart_vita_linjer.png') }}"
                        class="img-fluid image" alt="Responsive image">
                </div>
            </div>


            <!-- Copyright -->

            <div class="row pb-3">
                <div class="col-8 offset-2 text-md-left text-center">
                    <a class="a-link footer-heading" target="_blank"
                        href="{{ url_for('static', filename = 'Policy LiU Student Secondhand_200330 (1).pdf') }}"> Read
                        our policy here ></a>


                </div>

            </div>

            <div class="row pb-3">
                <div class="col-md-4 offset-md-2 text-md-left text-center">
                    <p class="footer-copyright">© 2020 Copyright: LiU Student Secondhand</p>
                </div>
            </div>



        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>


{% block more_script %}
    <!-- Filled with more parts of the scripts required on other views-->

{% endblock %}
</html>
