{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
{% endblock more_head %}

{% block content %}
    
    <legend class = "h3 mb-3 font-weight-normal">Logga in</legend>   
    <div><input id="login-form-username"></div> 
    <div><input id="login-form-password"></div> 
    <div><button id="login-form-button" onclick="login()"></div>   
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin_handler.js') }}"></script>

{% endblock content %}