{% extends "layout.html" %}

{% block more_head %}
<!--Additional head-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/news.css') }}">
<title>LSSh | See all our latest news</title>
{% endblock more_head %}

{% block content %}
<!-- Where the html should be written -->

<div class="container-fluid">
    <div class="row pb-5 pt-5">
        <div class="col offset-1">
            <h1>News & Updates</h1>
        </div>
    </div>
</div>

<div class="container-fluid grey-bg pt-3 pb-5">
<div id="news-container" class="container-fluid container-max-width pt-4">

    <div class="row">
        <div class="col">
            {% for News in newsarticles|batch(2) %}

            <div class="card-columns pb-md-5">
                {% for x in News %}

                {% if not loop.index is divisibleby 2 %}
                <div class="card pr-md-4 border-0">

                    <a href="news/{{ x.id }}">
                        <img id="image-news" src="{{ url_for('static', filename = '/pictures/' + x.get_img_url()) }}"
                            class="card-img-top" alt="Responsive image">
                    </a>

                    <div class="card-body bg-white">
                        <h5 class="card-title">{{ x.title }}</h5>
                        <p class="card-text">{{ x.ingress }}</p>
                        <a class="a-link card-text" href="news/{{ x.id }}">READ MORE <i class="fa">&#xf105;</i></a>
                    </div>
                </div>

                {% elif loop.index is divisibleby 2 %}
                {% if loop.index == 2 %}
                <div class="card pl-md-4 border-0 mt-md-5">
                    <a href="news/{{ x.id }}">
                        <img id="image-news" src="{{ url_for('static', filename = '/pictures/' + x.get_img_url()) }}"
                            class="card-img-top" alt="Responsive image">
                    </a>
                    <div class="card-body bg-white">
                        <h5 class="card-title">{{ x.title }}</h5>
                        <p class="card-text">{{ x.ingress }}</p>
                        <a class="a-link card-text" href="news/{{ x.id }}">READ MORE <i class="fa">&#xf105;</i></a>
                    </div>
                </div>

                {% else %}
                <div class="card pl-md-4 border-0">
                    <a href="news/{{ x.id }}">
                        <img id="image-news" src="{{ url_for('static', filename = '/pictures/' + x.get_img_url()) }}"
                            class="card-img-top" alt="Responsive image">
                    </a>
                    <div class="card-body bg-white">
                        <h5 class="card-title">{{ x.title }}</h5>
                        <p class="card-text">{{ x.ingress }}</p>
                        <a class="a-link card-text" href="news/{{ x.id }}">READ MORE <i class="fa">&#xf105;</i></a>
                    </div>
                </div>
                {% endif %}

                {% endif %}
                {% endfor %}

            </div>

            {% endfor %}



        </div>

    </div>
</div>

</div>


{% endblock content %}