{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product_single_view.css') }}">
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->
    <p id="navigation-history">
        products / {{furniture.category}} / {{furniture.name}}
    </p>
    <div id="product-wrapper">
      <!--MOBILE VERSION-->
      <div id="product-header-container" class="mobile">
        <h1>
          {{furniture.name}}
        </h1>
        <div class="spacing-line">
        </div>
        <p>
          <b>Price:</b> {{furniture.price}} SEK
        </p>
        <p class="product-status">
          Status
        </p>
      </div>
      <!--Swiper slidewhow-->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for x in furniture.pictures %}
            <div class="swiper-slide">
              <img class="img-fluid" src="{{url_for('static', filename='pictures/' + x.pictureName)}}">
            </div>
          {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
      </div>
      <div id="product-info-wrapper">
        <!--DESKTOP-->
        <div class="desktop">
          <h1>
            {{furniture.name}}
          </h1>
          <div class="spacing-line">
          </div>
          <p class="product-status">
            Status
          </p>
          <p>
            <b>Price:</b> {{furniture.price}} SEK
          </p>

        </div>
        <p>
          <b>Color:</b> YET TO BE ADDED
        </p>
        <p>
          <b>Condition:</b> {{furniture.condition}}
        </p>
        <p>
          <b>Payment method:</b> {{furniture.paymentMethod}}
        </p>
        <p>
          <b>Added:</b> {{furniture.pubDate}}
        </p>
        <p>
          <b>Measurements:</b> H: {{furniture.height}}, W: {{furniture.width}}, D: {{furniture.depth}}
        </p>

        <input type="button" value="Reserve">
      </div>
    </div>
    <div id="uncertain-container">
      <h2>
        Is something uncertain?
      </h2>
      <div class="spacing-line">
      </div>
      <p>
        Please send us an email at
        <a><b>
          email@email.com
        </b></a>
      </p>
    </div>


<script src="https://unpkg.com/swiper/swiper-bundle.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/product_single_view.js') }} " type="text/javascript"></script>
{% endblock content %}
