{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product_catalog.css') }}">
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->
    <p>
        Catalog
    </p>
    <form method= "POST">

    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        {% for field in filterform %}
        <div>
            {{ field}}
            {{ field.label}}
        </div>
        {% endfor %}

          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </form>
    {% for x in products %}

    <div>
        <img src="{{url_for('static', filename='pictures/' + x.getSinglePictureName())}}" width="200" height="200">
        <h3>Name: {{x.name}}</h3>
        <p>Price: {{x.price}} SEK</p>
    </div>

        <div class="category">
          <a data-toggle="collapse" href="#collapse-Availability">
            Availability
          </a>
          <div class="collapse" id="collapse-Availability">
            <p>test<p>
              <!--List filter options-->
          </div>
        </div>
      </div>
    </form>
    {% for x in products %}

    <div>
        <img src="{{url_for('static', filename='pictures/' + x.getSinglePictureName())}}" width="200" height="200">
        <h3>Name: {{x.name}}</h3>
        <p>Price: {{x.price}} SEK</p>
    </div>

    {% endfor %}
{% endblock content %}
