{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->
    <p>
        product single
    </p>
    <div>
        {% for x in product.pictures %}
        <img src="{{url_for('static', filename='pictures/' + x.pictureName)}}" width="200" height="200">
        {% endfor %}
        <h3>Name: {{product.name}}</h3>
        <p>Price: {{product.price}} SEK</p>
    </div>
    
{% endblock content %}