{% extends "layout.html" %}

{% block more_head %}
    <!--Additional head-->
    <title>LSSh | Our options for transport</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/transport.css') }}">
{% endblock more_head %}

{% block content %}
    <!--Where the html should be written-->
    <div id="about-us-container" class="container-fluid">
        <div class="row">
            <div class="col-1 offset-7 text-center">
                <div class="arrow-down d-sm-block d-none"></div>
            </div>
            
        </div>
    </div>

    <div id="about-us-container3" class="container-fluid">
        <div class="row pt-5">

           
            <div class="col-xl-3 col-8 offset-2 pb-3">
                <h4>OUR OPTIONS FOR</h4>
                <h2>Transport</h2>
                <br>
                <h5 class="text-white">We know it is hard to transport furniture, so we have som solutions!</h5>
                <h6>We offer free rental of a bike & bike cart and a tricycle which you can use to transport furniture to and from the shop!</h6>
                <br>
                <br><br><br>
            
                
            </div>

            <div class="col-1 h-100"></div>
            <div id="img-hand-in" class="col-sm-4 col-12"></div>
            
        </div>
    </div>

    <div id="transport-container" class="container-fluid">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock content %}