{% extends "admin/layout.html" %}
{% set navbar_active_products = True %}

{% block more_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/add_product.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/picture_selector.css') }}">

{% endblock more_head %}

{% block content %}
<div class="container">

    <h1>Add product</h1>

    <form onsubmit="searchValidSeller();return false">

        <label for="edit-product-user">Add valid seller:</label>

        <div class="input-group">
            <input id="valid-seller-input" class="form-control" type="text" placeholder="Add valid seller LiU ID">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>


   
    <form id="add-product-form">


        <div class="form-group">
            <label for="add-product-sellerid">Seller LiU ID</label>
            <input type="text" class="form-control" required id="add-product-sellerid" name="sellerID" readonly value="">
        </div>

        <div class="form-group">
            <label for="add-product-title">Title</label>
            <input type="text" class="form-control" id="add-product-title" name="name" placeholder="Title">
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="add-product-price">Price</label>
                <input type="Number" class="form-control" id="add-product-price" name="price" placeholder="100">
            </div>
            <div class="form-group col">
                <label for="add-product-condition">Condition</label>
                <select class="form-control" id="add-product-condition" name="condition">
                    {% for condition in conditions %}
                    <option value="{{condition.id}}">{{condition.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="border picture-area">
            <label for="add-product-picture-picker">Add pictures: </label>
            <input type="file" class="form-control-file" id="add-product-picture-picker" multiple="true"
                accept="image/png, image/jpeg">

            <label for="picture-selector">Chosen pictures</label>
            <div id="picture-selector">

            </div>
        </div>
        <div class="form-group">
            <label for="add-product-category">Category</label>
            <select class="form-control" id="add-product-category" name="category">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name|e }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="add-product-description">Description</label>
            <textarea class="form-control" id="add-product-description" name="description" rows="5"></textarea>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success add-product-button">Submit</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-light add-product-button">Preview</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/add_product.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/picture_selector.js') }}"></script>

{% endblock scripts %}