{% extends "admin/layout.html" %}
{% set navbar_active_faq = True %}

{% block more_head %}
{% endblock more_head %}

{% block content %}
<div class="container">
  <h1>Adding question</h1>
  <form id="add-question-form">
    <div class="form-group">
      <label for="categoryID">Category</label>
      <select class="form-control" id="categoryID" name="categoryID">
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="questionTitle">Question</label>
      <input id="questionTitle" class="form-control" name="questionTitle">
    </div>
    <div class="form-group">
      <label for="questionAnswer">Answer</label>
      <textarea id="questionAnswer" class="form-control" name="questionAnswer" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" href="{{ url_for('admin.admin_faq') }}">Cancel</a>
  </form>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/add_faq_question.js')}}"></script>
{% endblock scripts %}