{% extends "admin/layout.html" %}
{% set navbar_active_products = True %}

{% block more_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/add_product.css') }}">
{% endblock more_head %}

{% block content %}
    <div class="container">
        
        <form>
            <h1>Add product</h1>
            <div class="form-group">
              <label for="add-product-title">Title</label>
              <input type="text" class="form-control" id="add-product-title" placeholder="Title">
            </div>
            <div class="border picture-area">
                <label for="add-product-pictures">Pictures</label>
            <input type="file" class="form-control-file" id="add-product-pictures" multiple="true" accept="image/png, image/jpeg">
            <label for="add-product-picture-viewer">Chosen pictures</label>
            <div class="card-deck add-product-card-holder" id="add-product-picture-viewer">
                <div class="card add-product-card">
                    <img class="card-img-top add-product-card-img" src="{{ url_for('static', filename='placeholder.png') }}">
                    <div class="card-body">
                        <h5>Placeholder.png</h5>
                    </div>
                    <div class="card-footer add-product-card-footer">
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-times"></i></button>
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="card add-product-card">
                    <img class="card-img-top add-product-card-img" src="{{ url_for('static', filename='placeholder.png') }}">
                    <div class="card-body">
                        <h5>Placeholder.png</h5>
                    </div>
                    <div class="card-footer add-product-card-footer">
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-times"></i></button>
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>

                <div class="card add-product-card">
                    <img class="card-img-top add-product-card-img" src="{{ url_for('static', filename='placeholder.png') }}">
                    <div class="card-body">
                        <h5>Placeholder.png</h5>
                    </div>
                    <div class="card-footer add-product-card-footer">
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-times"></i></button>
                        <button class="btn btn-light add-product-card-button"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>

            </div>
            <div class="form-group">
              <label for="add-product-category">Category</label>
              <select class="form-control" id="add-product-category">
                {% for category in categories %}
                <option>{{ category.name|e }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
                <label for="add-product-payment">Payment method</label>
                <select class="form-control" id="add-product-payment">
                  <option>Swish</option>
                  <option>Revolut</option>
                  <option>Swish & Revolut</option>
                </select>
              </div>
            <div class="form-group">
              <label for="add-product-description">Description</label>
              <textarea class="form-control" id="add-product-description" rows="5"></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success add-product-button">Submit</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-light add-product-button">Preview</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}