{% extends "admin/layout.html" %}
{% set navbar_active_buyingprocess = True %}

{% block more_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/buying_process.css') }}">
{% endblock more_head %}


{% block content %}

<div class="container-fluid mt-5 container-max-width">


    <div class="row">
        <div class="col">
            <h1>Step 1 - Information about buyer</h1>
            <form onsubmit="return false">

                <label for="exampleInputEmail1">Search</label>
                <input type="text" class="form-control" id="input-liuid" placeholder="Insert LiU ID..">
            
                <button id="buyer-search" class="green-btn float-right" type="submit">SUBMIT</button>
            </form>

        </div>
    </div>

    <div class="row mb-5">
        <div id="buyer-information" class="col text-center">
            <p>No customer added</p>
        </div>
    </div>
</div>

<div class="container-fluid container-max-width">

    <div class="row">
        <div class="col">  
            <h1>Step 2 - Add items and payment</h1>
        </div>
    </div>

    <div class="row pt-5">


        <div class="col-3">
            <p>Number of items</p>
            <div id="total-items">
                <p>0</p>
            </div>

        </div>
        <div class="col-3">
            <p>Total payment left</p>
            <div id="total-payment">
                <p>0</p>
            </div>

        </div>

        <div class="col-6">
            <form onsubmit="return false">

                <input type="text" class="form-control" id="input-product-id" placeholder="Insert product id..">
            
                <button id="submit-item" class="green-btn float-right" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>


<div id="content" class="container-fluid container-max-width">

</div>


{% endblock content %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/buying_process.js') }}"></script>
{% endblock scripts %}