.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

#about-us-container {
    min-height: 4vh;
    background-color: #09433A;
    margin-top: 5rem;
}

#container-fill {
    min-height: 80vh;
}

.inline {
    display: inline-block;
    color: white;
}

#test-link {
    position: relative;
    margin-left: -3.8rem;
}

#contact-sublink {
    position: relative;
    margin-left: -0.4rem;
    
}

.subnav {
    background-color: #09433A;
}