#login-container {
    height: 100vh;
}

#login-img {
    background: url('../pictures/pexels-tom-swinnen-2249959\ \(1\).jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#form-col {
    padding-left: 7.5%;
    padding-right: 7.5%;
}