#container-fill {
    min-height: 100vh;
}

#contact-img-phone {
    background: url('../pictures/pexels-cottonbro-4065906.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#image-header {
    object-fit: cover;
    height: 60vh;
    display: block;
    width: 100%;
}

#faq-heading {
    font-weight: 700;
    font-size: 3rem;
}

@media only screen and (max-width: 786px) {
    #submit-button {
        width: 100%;
    }
}