#top-container {
    min-height: 60vh;
    padding-bottom: 3rem;
}

#faq-heading {
    font-weight: 700;
    font-size: 3rem;
}

#image-header {
    object-fit: cover;
    height: 60vh;
    display: block;
    width: 100%;
}

#container-fill {
    min-height: 80vh;
    padding-bottom: 5rem;
}

.card-header {
    background-color: rgb(255, 255, 255);
    
}

.card-body {
    background-color: rgb(238, 238, 238);
    
}

#faq-angledown {
    font-size: 2rem;
    padding-right: 1rem;
}

.faq-question-heading {
    font-size: 1.5rem;
    width: 100%;
    text-align: start;
    color: black;
   
    box-shadow: none;
    text-decoration: none;
}

.faq-question-heading:hover {
    box-shadow: none;
    text-decoration: none;
    color: black;
}

.faq-question-heading:focus {
   
    box-shadow: none;
    text-decoration: none;
}

.faq-question-heading:active {

    box-shadow: none;
    text-decoration: none;
}

.active.nav-link{
    background-color: var(--main-bg-color) !important;
    
    border-radius: 10rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
