#news-container {
    min-height: 100vh;
    background-color: #f9f9f9;
}

#title-row {
    min-height: 20vh;
    background-color: var(--bg-color-white);
}

#news-row {
    min-height: 60vh;
}

#text-img-news {
    margin-top: -4rem;

}

#image-news {
    object-fit: cover;
    height: 20rem;
    display:block;
    width: 100%;
    
}

.image-news-right {
    
    background: url('../pictures/two-vases-on-table-842950\ \(1\).jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 20rem;
}