#news-container {
    min-height: 100vh;
}

#image-news {
    object-fit: cover;
    height: 25rem !important; /* Old was 20 rem */
    display: block;
    width: 100%;
}

/* Bootstrap cards */


.card {
    background-color: transparent;
}

.card-body {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;

}


@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }

    .card {
        margin-top: 3rem;
    }
}




