.spacing-line {
  width: 100%;
  max-width: 440px;
  height: 5px;
  background-color: lightgreen;
  margin-top: -5px;
  margin-bottom: 10px;
}

/*Product*/
#product-header-container {
  width: 80%;
  margin: auto;
}

/*#product-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}*/


/*#product-info-wrapper {
  width: 80%;
  margin: auto;
}*/

/*Sldieshow*/
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#h1-title {
  margin-top: 30px;
}

/* 
    Regular CSS rules
    -----------------------
    Section 3 - "How it works" 
*/

.works-button {
  cursor: pointer;
  color: rgb(155, 155, 155) !important;
}

.works-container {
  min-height: 100vh;
}


.row-space {
  height: 10vh;
}

.green-bg {
  background-color: var(--main-bg-color);
}

.works-icons {
  background-color: var(--main-bg-color);
  padding-bottom: 3rem;
}

.logo1 {
  background-image: url(../pictures/mail_icon.png);
  height: 100px;
  width: 100px;
}

.logo2 {
  height: 100px;
  width: 100px;
  background-image: url(../pictures/icons8-handshake-heart-100\ \(2\).png);
}

.logo3 {
  height: 100px;
  width: 100px;
  background-image: url(../pictures/icons8-three-seater-sofa-100.png);
}


.logo4 {
  height: 100px;
  width: 100px;
  background-image: url(../pictures/icons8-furniture-100.png);
}

.logo5 {
  height: 100px;
  width: 100px;
  background-image: url(../pictures/icons8-yard-sale-100.png);
}

.logo6 {
  height: 100px;
  width: 100px;
  background-image: url(../pictures/icons8-transaction-approved-100.png);
}



.space-green {
  height: 5rem;
  background-color: var(--main-bg-color);
}

.p-text {
  width: 70%;
}

.col-border {
  border-right: 1px solid rgb(182, 182, 182);
  height: 1rem;
  margin-top: 0.2rem;
}

#works-buyer {
  display: none;
}

.works-button-activated {
  color: white !important;
  font-weight: 500 !important;
}

.fluid-no-margin {
  padding: 0;
  margin: 0;
}

/*Uncertain section*/
#uncertain-container {
  margin-bottom: 200px;
}

@media all and (max-width: 768px) {

  .desktop {
    display: none;
    position: absolute;
  }

  .swiper-container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 800px;
  }

  .product-status {
    color: lightgreen;
    float: right;
    margin-top: -40px;
    margin-right: 20px
  }
}

@media all and (min-width: 768px) {

  .mobile {
    display: none;
    position: absolute;
  }

  .product-status {
    color: lightgreen;
  }

  /*.swiper-container {
    width: 45%;
    height: 100%;
    margin-left: 3%;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: right;
  }

  #product-info-wrapper {
    width: 45%;
    margin-right: 3%;
    float: right;
    display: inline-block;
  }*/
}

@media all and (min-width: 992px) {
}
